// $random: random(80);

.pokemon-card {
	background-image: linear-gradient(
		to bottom,
		#eaedf6,
		#cedcee,
		#accee3,
		#689cad
	);

	color: #213941;

	padding: 5px;
	text-align: center;

	width: 15rem;
	height: 15rem;
	margin: 10px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-transform: capitalize;

	box-shadow: -7px 12px 0px 2px #eaedf6;

	transition: all ease 600ms;

	&:hover {
		// transform: scale(1.1) rotate(-5deg);
		// transform: scale(1.1);
		// border-radius: 0px !important;
		border-radius: 55% 45% 61% 39% / 30% 68% 32% 70% !important;
	}

	cursor: pointer;
}

.pokemon-type__item {
	background-color: white;
	color: #213941;
	padding: 5px;
	margin: 10px;
	display: inline-block;
	text-transform: uppercase;
	font-size: 9px;
}

.pokemon-title {
	font-size: 18px;
}
