* {
	box-sizing: content-box;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

body {
	min-height: 100vh;
	font-size: 14px;
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	line-height: 1.4;
}
